<p id="notice"><%= notice %></p>

<%= render "list" %>

<br>

<%= link_to 'New Attribute', new_attribute_category_character_attribute_path %> |
<%= link_to "Back", attribute_category_path(@attribute_category) %>
