<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @character_attribute.name %>
</p>

<%= link_to 'Edit', edit_character_attribute_path(@character_attribute) %> |
<%= link_to 'Back', attribute_category_path(@attribute_category) %>
