<footer class="footer">
  <small>
    The Exalted Generator by <a href="mailto:briancmpbll@gmail.com">Brian Campbell</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', '#' %></li>
      <li><%= link_to 'Contact', '#' %></li>
    </ul>
  </nav>
</footer>
